{% extends 'base.html' %}
{% block content %}
<div>
    <div>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <h1>Index</h1>
    <p>Login {{ user.username }}</p>
    <div>
        <a href="{% url 'accounts:password_change' %}">Password Change</a>
        <a href="{% url 'accounts:logout' %}">Logout</a>
    </div>
</div>
{% endblock %}